@import "../../../../styles/colors.module.scss";

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
}

.slideSectionBtn {
  &:hover {
    border-color: $lightGreen;
    background-color: transparent;
    color: $lightGreen;
  }
}
