.episodeTitle {
  font-size: 36px;
  font-weight: bold;
}
.episodeButtonDiv {
  display: flex;
  gap: 80px;
}
.episodeButton {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &:disabled {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &:active {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
  }
  &:focus {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
  }
}
.arrowImg {
  width: 25px;
  transition: 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}
.player {
  max-width: 100%;
}
@media (max-width: 425px) {
  .episodeTitle {
    font-size: 20px;
    padding: 0px 10px;
    word-wrap: break-word;
  }
  .player {
    max-width: 100%;

    margin-top: -30px;
  }
}
